.sign {
	&__logo-img {
		display: block;
		inline-size: min(320px, 70vw);
		height: auto;
		object-fit: contain;
	}

	&__logo-icon {
		display: block;
		inline-size: clamp(120px, 20vw, 260px);
		height: auto;
	}
}
