<div class="sign">
	<div class="sign__container">
		<button
			(click)="userService.toggleTheme()"
			aria-label="Toggle theme"
			class="sign__brand"
			type="button"
		>
			@if (logo) {
			<img class="sign__logo" [src]="logo" alt="Logo" />
			} @else {
			<icon-spider class="sign__logo sign__logo--icon"></icon-spider>
			}
		</button>

		<div class="sign__panel">
			<div class="sign__card">
				<button
					(click)="userService.toggleTheme()"
					aria-label="Toggle theme"
					class="sign__theme"
					type="button"
				>
					<span class="material-icons">
						@if (userService.theme === 'dark') { dark_mode } @else {
						light_mode }
					</span>
				</button>

				<wform
					(wSubmit)="submit()"
					[submition]="user"
					[config]="form"
				></wform>
			</div>
		</div>
	</div>
</div>
