.public {
	--topbar-h: 56px;

	&__main {
		min-height: calc(100dvh - var(--topbar-h));
	}

	@media (max-width: 767px) {
		/* reserve space for bottom bar on mobile */
		:deep(layout-topbar) + .public__main {
			padding-block-end: calc(var(--sp-5) + var(--topbar-h));
		}
	}
}
