@let _showSidebar = showSidebar();

<div class="user" id="wrapper">
	<nav class="nav" (clickOutside)="showSidebar.set(false)">
		<ul class="nav__ul container" [class._active]="_showSidebar">
			<li class="nav__li">
				<a
					(click)="showSidebar.set(false)"
					routerLinkActive="_activeLink"
					routerLink="/profile"
					class="nav__a"
				>
					<span class="material-icons">home</span>
				</a>
			</li>
			<li
				(click)="showSidebar.set(!_showSidebar)"
				class="nav__li _burger"
			>
				<a class="nav__toggle" [class._active]="_showSidebar">
					<span class="nav__toggle-line"></span>
				</a>
			</li>
		</ul>
	</nav>

        <div class="user__main" [class.showTable]="_showSidebar">
		@if (_showSidebar) {
		<div class="fade" [@showInOut]="_showSidebar"></div>
		}
		<div class="nav__burger _active" [class._active]="_showSidebar">
                        <div class="nav__burger-list">
                                <div class="nav__theme-switch">
                                        <span
                                                class="material-icons"
                                                (click)="userService.toggleTheme()"
                                        >
                                                @if (userService.theme === 'dark') {dark_mode} @else
                                                {light_mode}
                                        </span>
                                </div>
                                <div
                                        (click)="languageService.nextLanguage()"
                                        class="nav__translate-switch"
                                >
                                        {{languageService.language().name}}
                                </div>
				<a
					class="nav__burger-link nav__burger-user"
					routerLink="/profile"
				>
					<img
						[src]="userService.thumb()"
						alt="Profile Picture"
						class="avatar__img"
						height="50"
						width="50"
					/>
					<div class="name">
						{{userService.user().name || "Profile"}}
					</div>
				</a>
				<hr />
				@if (userService.role('admin')) {
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/users"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">people</span>
					<span translate>Users</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/forms"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">backup_table</span>
					<span translate>Forms</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/translates"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">translate</span>
					<span translate>Translates</span>
				</a>
				<hr />
				}
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>
