<ng-template #templateRef let-data>
    <div class="pass_container">
        <winput
            [formId]="data.wFormId"
            [formKey]="data.wFormKey"
            [type]="data.props?.Show ? 'text' : 'password'"
            [label]="data.props?.Label"
            [placeholder]="data.props?.Placeholder"
            [name]="data.props?.Label || 'password'"
            [focused]="data.component.focused"
            [ngClass]="data.component.class"
            (wChange)="data.wChange()"
            (wSubmit)="data.wSubmit()"
        ></winput>
        <div class="eye">
            <span
                (click)="data.props && (data.props.Show = !data.props.Show)"
                class="material-icons"
            >
                visibility
            </span>
        </div>
    </div>
</ng-template>
