@let _content = content();
@let _layout = layout();

@if (_hasContent()) {
	<section
		[ngClass]="_sectionClass()"
	>
		@if (_content.backgroundImage) {
			<div class="hero__backdrop">
				<img class="hero__backdrop-image" [src]="_content.backgroundImage" [alt]="_content.title || ''" />
			</div>
		}
		<div class="hero__overlay"></div>
		<div class="hero__container">
			<ng-template #leadTemplate>
				<div class="hero__lead">
					@if (_content.badge?.text) {
						<div class="hero__badge">
							@if (_content.badge?.icon) {
								<span class="material-icons hero__badge-icon" aria-hidden="true">
									{{ _content.badge!.icon }}
								</span>
							}
							<span>{{ (_content.badge?.text ?? '') | translate }}</span>
						</div>
					}

					@if (_content.title) {
						<h1 class="hero__title">{{ _content.title | translate }}</h1>
					}

					@if (_content.description) {
						<p class="hero__description">{{ _content.description | translate }}</p>
					}
				</div>
			</ng-template>

			<ng-template #actionsTemplate>
				@if (_content.ctas?.length || _content.meta?.text) {
					<div class="hero__actions">
						@if (_content.ctas?.length) {
							<div class="hero__cta-list">
								@for (cta of _content.ctas!; track cta.label) {
									@if (cta.label) {
										<button
											type="button"
											class="hero__cta"
											[ngClass]="{
												'hero__cta--primary': (cta.variant ?? 'primary') === 'primary',
												'hero__cta--ghost': (cta.variant ?? 'primary') === 'ghost'
											}"
											(click)="onCtaClick(cta)"
										>
											@if (cta.icon) {
												<span class="material-icons hero__cta-icon" aria-hidden="true">
													{{ cta.icon }}
												</span>
											}
											<span>{{ cta.label | translate }}</span>
										</button>
									}
								}
							</div>
						}

						@if (_content.meta?.text) {
							<div class="hero__meta">
								@if (_content.meta?.icon) {
									<span class="material-icons hero__meta-icon" aria-hidden="true">
										{{ _content.meta!.icon }}
									</span>
								}
								<span>{{ (_content.meta?.text ?? '') | translate }}</span>
							</div>
						}
					</div>
				}
			</ng-template>

			<ng-template #logosTemplate>
				@if (_content.logos?.length) {
					<div class="hero__logos">
						@for (logo of _content.logos!; track logo.label) {
							<div class="hero__logo">
								@if (logo.src) {
									<img class="hero__logo-image" [src]="logo.src" [alt]="logo.alt || logo.label || ''" />
								} @else {
									@if (logo.icon) {
										<span class="material-icons hero__logo-icon" aria-hidden="true">
											{{ logo.icon }}
										</span>
									}
									@if (logo.label) {
										<span>{{ logo.label | translate }}</span>
									}
								}
							</div>
						}
					</div>
				}
			</ng-template>

			<ng-template #metricsTemplate>
				@if (_content.metrics?.length) {
					<div class="hero__metrics">
						@for (metric of _content.metrics!; track metric.label) {
							<div class="hero__metric">
								@if (metric.icon) {
									<span class="material-icons hero__metric-icon" aria-hidden="true">
										{{ metric.icon }}
									</span>
								}
								@if (metric.value) {
									<div class="hero__metric-value">{{ metric.value | translate }}</div>
								}
								@if (metric.label) {
									<div class="hero__metric-label">{{ metric.label | translate }}</div>
								}
								@if (metric.description) {
									<div class="hero__metric-description">
										{{ metric.description | translate }}
									</div>
								}
							</div>
						}
					</div>
				}
			</ng-template>

			<ng-template #highlightsTemplate>
				@if (_content.highlights?.length) {
					<div class="hero__highlights">
						@for (highlight of _content.highlights!; track highlight.title) {
							<div class="hero__highlight">
								@if (highlight.icon) {
									<span class="material-icons hero__highlight-icon" aria-hidden="true">
										{{ highlight.icon }}
									</span>
								}
								<div>
									@if (highlight.title) {
										<div class="hero__highlight-title">
											{{ highlight.title | translate }}
										</div>
									}
									@if (highlight.desc) {
										<div class="hero__highlight-description">
											{{ highlight.desc | translate }}
										</div>
									}
								</div>
							</div>
						}
					</div>
				}
			</ng-template>

			<ng-template #noteTemplate>
				@if (_content.note?.title || _content.note?.desc) {
					<div class="hero__note">
						<div class="hero__note-header">
							@if (_content.note?.title) {
								<div class="hero__note-title">{{ (_content.note?.title ?? '') | translate }}</div>
							}
							@if (_content.note?.icon) {
								<span class="material-icons hero__note-icon" aria-hidden="true">
									{{ _content.note!.icon }}
								</span>
							}
						</div>
						@if (_content.note?.desc) {
							<div class="hero__note-description">
								{{ (_content.note?.desc ?? '') | translate }}
							</div>
						}
					</div>
				}
			</ng-template>

			<ng-template #mediaTemplate>
				@if (_content.media?.src) {
					<div [class]="_mediaClass()">
						@if ((_content.media?.type ?? 'image') === 'iframe') {
							<iframe
								class="hero__frame"
								[src]="_content.media!.src"
								[title]="_content.media?.title || _content.title || ''"
								loading="lazy"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								referrerpolicy="strict-origin-when-cross-origin"
								allowfullscreen
							></iframe>
						} @else {
							<img
								class="hero__image"
								[src]="_content.media!.src"
								[alt]="_content.media?.alt || _content.title || ''"
							/>
						}
					</div>
				}
			</ng-template>

			@if (_layout === 'centered') {
				<div class="hero__layout hero__layout--centered">
					<ng-container [ngTemplateOutlet]="leadTemplate"></ng-container>
					<ng-container [ngTemplateOutlet]="actionsTemplate"></ng-container>
					<div class="hero__slot hero__slot--form">
						<ng-content select="[hero-form]"></ng-content>
					</div>
					<div class="hero__slot hero__slot--media">
						<ng-content select="[hero-media]"></ng-content>
					</div>
					<ng-container [ngTemplateOutlet]="mediaTemplate"></ng-container>
					<ng-container [ngTemplateOutlet]="metricsTemplate"></ng-container>
					<ng-container [ngTemplateOutlet]="logosTemplate"></ng-container>
					<ng-container [ngTemplateOutlet]="highlightsTemplate"></ng-container>
				</div>
			} @else if (_layout === 'background') {
				<div class="hero__layout hero__layout--background">
					<div class="hero__content-column">
						<ng-container [ngTemplateOutlet]="leadTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="actionsTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="noteTemplate"></ng-container>
					</div>
					<div class="hero__slot hero__slot--form hero__slot--full">
						<ng-content select="[hero-form]"></ng-content>
					</div>
				</div>
			} @else if (_layout === 'dashboard') {
				<div class="hero__layout hero__layout--dashboard">
					<div class="hero__content-column">
						<ng-container [ngTemplateOutlet]="leadTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="actionsTemplate"></ng-container>
						<div class="hero__slot hero__slot--form">
							<ng-content select="[hero-form]"></ng-content>
						</div>
						<ng-container [ngTemplateOutlet]="highlightsTemplate"></ng-container>
					</div>
					<div class="hero__visual-column">
						<div class="hero__slot hero__slot--media">
							<ng-content select="[hero-media]"></ng-content>
						</div>
						<ng-container [ngTemplateOutlet]="mediaTemplate"></ng-container>
					</div>
					<ng-container [ngTemplateOutlet]="metricsTemplate"></ng-container>
				</div>
			} @else if (_layout === 'panel') {
				<div class="hero__layout hero__layout--panel">
					<div class="hero__content-column">
						<ng-container [ngTemplateOutlet]="leadTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="actionsTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="metricsTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="noteTemplate"></ng-container>
					</div>
					<div class="hero__panel-column">
						<div class="hero__slot hero__slot--panel">
							<ng-content select="[hero-panel]"></ng-content>
						</div>
						<div class="hero__slot hero__slot--media">
							<ng-content select="[hero-media]"></ng-content>
						</div>
						<ng-container [ngTemplateOutlet]="mediaTemplate"></ng-container>
					</div>
				</div>
			} @else {
				<div class="hero__layout hero__layout--split">
					<div class="hero__content-column">
						<ng-container [ngTemplateOutlet]="leadTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="actionsTemplate"></ng-container>
						<div class="hero__slot hero__slot--form">
							<ng-content select="[hero-form]"></ng-content>
						</div>
						<ng-container [ngTemplateOutlet]="metricsTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="logosTemplate"></ng-container>
						<ng-container [ngTemplateOutlet]="noteTemplate"></ng-container>
					</div>
					<div class="hero__visual-column">
						<div class="hero__slot hero__slot--media">
							<ng-content select="[hero-media]"></ng-content>
						</div>
						<ng-container [ngTemplateOutlet]="mediaTemplate"></ng-container>
					</div>
				</div>
			}
		</div>
	</section>
}
