.testimonials {
	background: transparent;

	&__card {
		background: var(--c-bg-tertiary);
		border: 1px solid var(--c-border);
		color: var(--c-text-primary);
	}

	&__avatar {
		width: 36px;
		height: 36px;
		border-radius: 999px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		background: var(--c-bg-secondary);
		border: 1px solid var(--c-border);
		color: var(--c-text-primary);
	}
}
