<ng-template #templateRef let-data>
	<ngx-file
		[formId]="data.wFormId"
		[formKey]="data.wFormKey"
		[label]="data.props?.label || 'Photo'"
		[accept]="data.props?.accept || 'image/*'"
		[container]="data.props?.container || data.wFormId"
		[name]="data.props?.name || ''"
		[multiple]="!!data.props?.multiple"
		[preview]="data.props?.preview ?? true"
		[clearable]="data.props?.clearable ?? true"
		[cropWidth]="data.props?.width || null"
		[cropHeight]="data.props?.height || null"
		(wChange)="data?.wChange && data.wChange()"
	/>
</ng-template>
