@use 'src/scss/utils/mixins' as mixins;
@use 'src/scss/utils/media' as media;
@use 'src/scss/utils/vars' as vars;

.public {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@include mixins.flexBox(flex, column, null, null, null);
	background: var(--c-bg-primary);
	transition: all 0.5s ease-in-out;
	&__main {
		flex-grow: 1;
		overflow-y: auto;
		@include mixins.flexBox(flex, column, null, null, null);
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		width: 100%;
		padding: 10px;
		transition: all 0.5s ease-in-out;
		@media screen and (max-width: 991px) {
			padding: 20px;
		}
		@media screen and (max-width: 767px) {
			padding: 10px;
		}
	}
}

.nav {
	transition: all 0.5s ease-in-out;
	background: var(--c-basic);
	width: 100%;
	box-shadow:
		0 3px 5px -1px #0003,
		0 6px 10px #00000024,
		0 1px 18px #0000001f;
	@include mixins.flexBox(flex, null, space-between, center, null);
	min-height: 50px;
	z-index: 100;
	overflow: hidden;
	&__ul {
		z-index: 1;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 20px;
		transition: all 0.5s ease-in-out;
		@include mixins.flexBox(flex, null, null, center, null);
		width: 100%;
		@media screen and (max-width: 767px) {
			justify-content: space-around !important;
		}
	}
	&__li {
		display: inline-block;
	}
	&__a {
		cursor: pointer;
		color: vars.$c-white;
		font-size: var(--fs) - 2px;
		padding: 5px 10px;
		border-radius: vars.$b-radius;
		transition: all 0.5s ease-in-out;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			background-color: vars.$c-white;
			bottom: -1px;
			border-radius: vars.$b-radius-img;
			transform: translateY(15px);
			opacity: 0;
			@include media.bp-max(md) {
				top: -3px;
			}
		}
		&._activeLink {
			&::before {
				animation: navLinkAnimation 0.75s forwards;
			}
			@keyframes navLinkAnimation {
				0% {
					opacity: 0;
					transform: translateY(15px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		.material-icons {
			color: vars.$c-white;
			width: 24px;
		}
	}
	@include media.bp-max(md) {
		order: 2;
		&__ul {
			justify-content: space-between;
		}
	}
}
