.space {
	&__header {
		&-avatar {
			margin-inline-start: var(--sp-3);
			inline-size: 32px;
			block-size: 32px;
			border-radius: 999px;
			overflow: hidden;
			display: inline-flex;
			cursor: pointer;
			text-decoration: none;

			&:focus-visible {
				outline: none;
				box-shadow: var(--focus-ring);
			}

			img {
				inline-size: 100%;
				block-size: 100%;
				object-fit: cover;
				border-radius: inherit;
				display: block;
			}
		}
	}
}
