@let _documents = documents();

<wselect
	placeholder="{{'Language.' + (_documents.length ? 'Select language' : 'Create new language') + '...' | translate}}"
	[disabled]="disabled() || !_documents.length"
	(wChange)="wChange.emit($event); selected = $event"
	[searchable]="searchable()"
	[clearable]="clearable()"
	[items]="_documents"
	[value]="value()"
></wselect>

@if (mutatable()) { @if(languageService.language()){
<wbutton (click)="mutate()">Edit</wbutton>
<wbutton (click)="delete()">Delete</wbutton>
}
<wbutton (click)="mutate(false)">Add</wbutton>
}
