&__main {
	/* was .documents-main */
	flex: 1 0;
	padding-left: 280px;

	& ~ .space__sidebar {
		/* anchor if needed */
	}
}

&__content {
	/* was .documents-main-content */
	padding: 15px;
}

&__section {
	/* was .documents-main-row */
	padding: 10px 20px;
	background: var(--c-bg-secondary);
	margin-bottom: 20px;
	border-radius: 10px;
}

&__sidebar {
	/* was .documents-sidebar */
	flex: 0 0 280px;
	max-width: 280px;
	width: 100%;
	background: var(--c-bg-secondary);
	height: calc(100vh - 100px);
	border-radius: 12px;
	position: fixed;
	top: 80px;

	&--open {
		/* toggled on mobile */
	}

	&-close {
		/* was .documents-sidebar__close */
		display: none;
		width: 32px;
		height: 32px;
		position: absolute;
		right: 10px;
		top: 10px;
		svg {
			fill: var(--c-text-primary);
		}
	}

	&-content {
		/* was .documents-sidebar-content */
		padding: 15px;
		height: 100%;
		overflow-y: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0px;
			height: 0px;
		}
	}

	&-img {
		/* was .documents-sidebar__img */
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 12px;
		}
	}

	&-title {
		/* was .documents-sidebar__title */
		font-weight: 600;
		padding: 15px 0 5px 0;
		color: var(--c-text-primary);
	}

	&-desc {
		/* was .documents-sidebar__description */
		color: var(--c-text-primary);
	}
}

/* ===================== Components ===================== */

.section__title {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
	color: var(--c-text-primary);
}
.section__desc {
	color: var(--c-text-primary);
}

.media {
	display: flex;
	flex-flow: row wrap;
	padding-top: 20px;

	&__img {
		flex: 0 0 300px;
		img {
			width: 100%;
		}
	}
	&__body {
		flex: 1 0;
		padding-left: 40px;
	}
	&__title {
		font-size: 20px;
		font-weight: 600;
		color: var(--c-text-primary);
	}
	&__desc {
		color: var(--c-text-primary);
	}
}

.tags {
	display: flex;
	flex-flow: row wrap;
	padding-top: 10px;

	&__item-wrap {
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.tag {
	background: #e0653f;
	padding: 2px 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.triggers {
	display: flex;
	flex-flow: row wrap;

	&__item-wrap {
		flex: 0 0 25%;
		max-width: 25%;
		padding: 0 10px;
		display: flex;
		margin-bottom: 20px;
	}
	&__item {
		padding: 10px;
		border-radius: 6px;
		background: #000000;
	}
	&__img {
		padding-bottom: 10px;
		img {
			width: 70px;
			height: 70px;
		}
	}
	&__title {
		font-weight: 600;
		margin-bottom: 5px;
	}
	&__desc {
	}
}

.products {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	&__item-wrap {
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding: 0 15px;
		display: flex;
		margin-bottom: 30px;
	}
}

.product-card {
	display: flex;
	flex-flow: column wrap;
	padding: 15px;
	background-color: var(--doc-products);
	border-radius: 6px;

	&__img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__title {
		font-weight: 600;
		padding: 15px 0 5px 0;
		color: var(--c-text-primary);
	}
	&__desc {
		color: var(--c-text-primary);
	}
	&__actions {
		padding-top: 15px;
		margin-top: auto;
	}
}

/* ===================== Responsive ===================== */
@media screen and (max-width: 1199px) {
	.space__sidebar {
		flex: 0 0 240px;
		max-width: 240px;
	}
	.space__main {
		flex: 1 0;
		padding-left: 236px;
	}
}

@media screen and (max-width: 991px) {
	.space__sidebar {
		flex: 0 0 100%;
		max-width: 100%;
		height: 0;
		border-radius: 12px;
		position: fixed;
		top: 0;
		left: 0;
		margin: 5px;
		transition: all 0.3s;
		overflow: hidden;

		&--open {
			height: calc(100% - 75px);
		}
	}
	.space__sidebar-content {
		padding: 15px 30px 15px 15px;
	}
	.space__main {
		padding: 20px 0 0;
	}
	.space__header {
		display: flex;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding: 10px;
		background: var(--header-doc);
		z-index: 8;

		&-title {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 50%;
			font-weight: 600;
			color: var(--c-text-primary);
		}
	}
	.burger-wrap {
		display: flex;
		align-items: center;
		position: absolute;
		z-index: 3;
		right: 3px;
		transform: translate(-50%, -50%);
		top: 50%;
	}
	.space__sidebar-close {
		display: block;
	}

	.burger--close {
		max-width: 0;
		overflow: hidden;
	}
	.burger--close::before {
		transform: translateY(0px) rotate(45deg);
	}
	.burger--close::after {
		transform: translateY(3px) rotate(-45deg);
	}
	.burger--close::after,
	.burger--close::before {
		transform-origin: 0;
	}

	.space__container {
		padding: 30px 0 0 0;
	}
	.space__section {
		padding: 10px 30px 20px 15px;
	}

	.products .products__item-wrap {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.triggers__item-wrap {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.media {
		flex-flow: column wrap;
	}
	.media__img {
		flex: 0 0 100%;
		width: 100%;
	}
	.media__body {
		flex: 0 0 100%;
		padding: 20px 0 0 0;
	}
}

@media screen and (max-width: 479px) {
	.triggers__item-wrap {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.products .products__item-wrap {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
