<div class="grid gap-4">
	<div
		class="flex flex-col gap-4 rounded-[var(--radius-card)] border border-[var(--c-border)] bg-[var(--c-bg-secondary)] p-5 shadow-[var(--shadow-sm)] sm:p-4"
	>
		<div class="mb-3 flex gap-3 border-b border-[var(--c-border)] pb-3">
			<wbutton
				[type]="activeTab() === 'profile' ? 'primary' : 'link'"
				[isMultipleClicksAllowed]="true"
				(click)="setTab('profile')"
				class="!font-semibold !text-[0.9rem]"
			>
				Profile
			</wbutton>

			<wbutton
				[type]="activeTab() === 'security' ? 'primary' : 'link'"
				[isMultipleClicksAllowed]="true"
				(click)="setTab('security')"
				class="!font-semibold !text-[0.9rem]"
			>
				Security
			</wbutton>
		</div>

		<div class="flex flex-col gap-3">
			@if (activeTab() === 'profile') {
			<div class="flex flex-col gap-3">
				<ngx-file
					mode="single-image"
					view="thumb-only"
					[wImage]="userService.thumb()"
					(wImageChange)="updateThumb($event || '')"
					[container]="'user'"
					[name]="userService.user()._id + '.jpg'"
					[accept]="'image/*'"
					[clearable]="false"
					[preview]="true"
					[cropWidth]="512"
					[cropHeight]="512"
				></ngx-file>

				<form
					(submit)="wFormSubmit(); $event.preventDefault()"
					class="flex flex-col gap-3"
				>
					<winput
						placeholder="Enter your name..."
						[formField]="profileForm.name"
					></winput>

					<winput
						placeholder="Enter your phone..."
						[formField]="profileForm.phone"
						type="tel"
					></winput>

					<winput
						placeholder="Enter your bio..."
						[formField]="profileForm.bio"
						type="textarea"
					></winput>

					<wbutton
						[disabled]="isSubmitDisabled()"
						type="primary"
						class="mt-2"
					>
						Update
					</wbutton>
				</form>
			</div>
			} @else {
			<div class="flex flex-col gap-3">
				<form
					(submit)="wSecuritySubmit(); $event.preventDefault()"
					class="flex flex-col gap-3"
				>
					<winput
						placeholder="Enter your current password..."
						[formField]="securityForm.currentPassword"
						type="password"
					></winput>

					<winput
						placeholder="Enter your new password..."
						[formField]="securityForm.newPassword"
						type="password"
					></winput>

					<winput
						placeholder="Confirm your new password..."
						[formField]="securityForm.confirmPassword"
						type="password"
					></winput>

					<wbutton
						[disabled]="isSecurityDisabled()"
						type="primary"
						class="mt-2"
					>
						Update password
					</wbutton>
				</form>
			</div>
			}
		</div>
	</div>
</div>
