@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/300.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/400.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/500.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
