@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/icons.woff2') format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 26px;
	line-height: 1;
	display: inline-block;
	white-space: nowrap;
	direction: ltr;
}
