name: Sync Angular client to ngx-default

on:
    push:
        branches:
            - master
        paths:
            - "client/**" # Trigger only on changes in the angular folder

jobs:
    sync-angular:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout source repository
              uses: actions/checkout@v3

            - name: Set up SSH
              env:
                  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
              run: |
                  mkdir -p ~/.ssh
                  echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan github.com >> ~/.ssh/known_hosts

            - name: Sync Angular folder to ngx-default
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "github-actions[bot]@users.noreply.github.com"
                  git clone git@github.com:WebArtWork/ngx-default.git ngx-default
                  mv -f ngx-default/.git client/.git
                  cd client
                  echo "ngx.webart.work" > CNAME
                  echo "dist/" >> .gitignore
                  sed -i "s/ceo@webart.work/demo@webart.work/g" src/environments/environment.prod.ts
                  git add .
                  git commit -m "Update code source" || echo "No changes to commit"
                  git push

            - name: Clean up SSH
              run: |
                  rm -f ~/.ssh/id_rsa
                  rm -f ~/.ssh/known_hosts
